* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
del {
  text-decoration: line-through;
}
@font-face {
  font-family: 'Gordita';
  src: url('fonts/Gordita-Medium.woff2') format('woff2'),
      url('fonts/Gordita-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gordita';
  src: url('fonts/Gordita-Medium.woff2') format('woff2'),
      url('fonts/Gordita-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: "Gordita", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #333;
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
}
input,
textarea,
select {
  font-family: "Gordita", Arial, Helvetica, sans-serif;
}

a {
  color: #333;
}
a:hover,
.submit:hover {
  filter: alpha(opacity = 85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}
.thumb {
  display: block;
}
.thumb img {
  display: block;
  width: 100%;
}
p {
  line-height: 1.6em;
  font-size: 16px;
}
.hidden {
  display: none;
}
br.clear {
  clear: both;
  line-height: 0;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
}

/* header */

header { 
  
}
header section.wrapper{
  
}
header section.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:50px 0;
}
header section.head ul li a{
  color: #888398;
  font-size: 20px;
  
}

header section.head div.left { 

}

header section.head div.left h1 { 

}

header section.head div.left h1 a { 

}

header section.head div.left h1 a img { 
  display: block;
  width: 100%;
}

header section.head div.middle { 

}

header section.head div.middle nav { 

}

header section.head div.middle nav ul { 
  display: flex;
  justify-content: space-between;

}

header section.head div.middle nav ul li { 
  margin-right: 40px;
}
header section.head div.middle nav ul li:last-child{
  margin-right: 0px;
}

header section.head div.middle nav ul li a { 

}
header section.head div.middle nav ul li a:hover{
  color: #000;
  border-bottom: 3px solid #E45F83;
  font-weight: 500;
}

header section.head div.right { 

}

header section.head div.right ul { 
  display: flex;
  justify-content: space-between;
}

header section.head div.right ul li { 
  margin-right: 40px;
}
header section.head div.right ul li:last-child { 
  margin-right: 0;
}
header section.head div.right ul li a.button { 
  display: inline-block;
  background-image: linear-gradient(to right,#E45F83,#f67d71,#d473aa);
  color: #fefefe;
  padding: 12px 25px;
  border-radius: 8px;
}
#spotlight { 

}
#spotlight section.wrapper { 

}

#spotlight section.container {
  display: flex;
  padding: 10px 0 100px;
}

#spotlight section.container div.left {
  background: #F8F8FA;
  width: 46%;
  padding: 141px 84px ;
  border-radius: 8px 0 0 8px;
}

#spotlight section.container div.left small {
  color: #888398;
  font-size: 20px;
  font-weight: 400;
}

#spotlight section.container div.left h3 {
  font-size: 70px;
  font-weight: bolder;
  font-family: 'Gordita';
  margin-bottom: 20px;
  margin-top: 30px;
}

#spotlight section.container div.left p {
  color: #888398;
  font-size: 20px;
  margin-bottom: 30px;
}

#spotlight section.container div.left a.button { 
  display: inline-block;
  background-image: linear-gradient(to right,#E45F83,#f67d71,#d473aa);
  color: #fefefe;
  padding: 12px 25px;
  border-radius: 8px;
}

#spotlight section.container div.right {
  width: 55%;
}

#spotlight section.container div.right img { 
  display: block;
  width: 100%;
}


workking
#working { 

}

#working div.top { 
  text-align: center;
  padding: 50px 0 100px;
  position: relative;
}

#working div.top h2 { 

}

#working div.top p { 

}

#working div.bottom { 
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  
}

#working div.bottom div.left { 
  width: 30%;
}

#working div.bottom div.left div.information { 

}

#working div.bottom div.left div.information img { 
  display: block;
  width: 100%;
}

#working div.bottom div.left h5 { 

}

#working div.bottom div.left p { 

}

#working div.bottom div.middle { 
  width: 30%;
  
}

#working div.bottom div.middle div.Data { 

}

#working div.bottom div.middle div.Data img { 
  display: block;
  width: 100%;
}

#working div.bottom div.middle h5 { 

}

#working div.bottom div.middle p { 

}

#working div.bottom div.right { 
  width: 30%;

}

#working div.bottom div.right div.Add { 

}

#working div.bottom div.right div.Add img { 
  display: block;
  width: 100%;
}

#working div.bottom div.right h5 { 

}

#working div.bottom div.right p { 

}

#working div.bottom div.right div.card { 

}

#working div.bottom div.right div.card h6 { 

}
#working div.path{
 
}
#working div.path img {
  
}


#content { 

}

#content section.download { 
  display: flex;
}

#content section.download div.left { 

}

#content section.download div.left img { 
  display: block;
  width: 100%;
}

#content section.download div.right { 

}

#content section.download div.right h2 { 

}

#content section.download div.right p { 

}

#content section.download div.right a { 
  display: flex;
  align-items: center;

}

#content section.download div.right a div { 
  
}

#content section.download div.right a div img { 
  display: flex;
  width: 100%;
}

#content section.download div.right a small { 

}